<div id="articles">
    <ul class="list-group">
        {{#each article}}
        <li class="list-group-item">
            <div data-id="{{_id}} {{value}}">
                {{title}} <h1>{{value}}</h1><br />
                <br>
                {{summary}} {{value}}<br />
                {{link}} {{value}}<br />
                {{img}} {{value}}<br>
                {{saved}} {{value}}<br>
                <button type="button" class="btn btn-primary" id="saveArticle" data-id="{{_id}} {{value}}">Save
                    Article</button>
                <br>
                <br>
            </div>
        </li>
        {{/each}}
    </ul>
</div>