<div class="container">
    <div id="articles">
        <ul>
            {{#each article}}
                {{title}}: {{value}}<br/>
                {{summary}}: {{value}}<br/>
                {{link}}: {{value}}<br>
            {{/each}}
        </ul>
    </div>
</div>