<div id="articles">
    {{#each article}}
    <div class="articles">
        <div class="card">
            <img src="{{img}}{{value}}" class="card-img-top" alt="leagueImage" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{title}}{{value}}</h5>
                <p class="card-text">{{summary}}{{value}}</p>
                {{#unless saved}}
                <button type="button" class="btn btn-primary saveArticle" data-id="{{_id}} {{value}}">Save
                    Article</button>
                {{/unless}}
                <a type="button" href="{{link}}{{value}}" class="btn btn-primary articleLink" target="_blank">Read full Article</a>
            </div>
        </div>
    </div>
    {{/each}}
    <div>
        <footer class="navbar navbar-dark bg-dark justify-content-center mt-2">
            <span class="navbar-brand" id="footerColor">©SMS ~League Edition~</span>
        </footer>
    </div>