<div id="articles">
    {{#each article}}
    <div class="articles">
        <div class="card">
            <img src="{{img}}{{value}}" class="card-img-top" alt="leagueImage" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{title}}{{value}}</h5>
                <p class="card-text">{{summary}}{{value}}</p>
                {{#if comment}}
                <h5 class="text-center">Comments</h5>
                <p class="text-center">{{comment.title}}{{value}}</p>
                <p class="text-center">{{comment.body}}{{value}}</p>
                <p class="card-text commentBody"></p>
                {{/if}}
                <div class="btns">
                <button type="button" class="btn btn-primary comment">Comment</button>
                <a type="button" href="{{link}}{{value}}" class="btn btn-primary articleLink" target="_blank">Read full
                    Article</a>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary saveComment commentInput" data-id="{{_id}}{{value}}">Save Comment to this article!</button>
        {{/each}}
        <div class="commentInput">
            <input class="form-control m-1" type="text" id="commentTitle" placeholder="Comment Title">
            <textarea class="form-control m-1" id="commentBody" rows="5" placeholder="Comment Body"></textarea>
        </div>
    </div>
    {{#if article}}
    <div>
        <footer class="navbar navbar-dark bg-dark justify-content-center mt-2">
            <span class="navbar-brand" id="footerColor">©SMS ~League Edition~</span>
        </footer>
    </div>
    {{/if}}