<div id="articles">
    {{#each article}}
    <div data-id="{{_id}} {{value}}">
        <div class="card">
            <img src="{{img}}{{value}}" class="card-img-top" alt="leagueImage" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{title}}{{value}}</h5>
                <p class="card-text">{{summary}}{{value}}</p>
                <button type="button" class="btn btn-primary saveArticle" data-id="{{_id}} {{value}}">Save
                    Article</button>
                <a type="button" href="{{link}}{{value}}" class="btn btn-primary articleLink" target="_blank">Read
                    Article</a>
            </div>
        </div>
    </div>
    {{/each}}